*{
    font-family: "Manrope", sans-serif;
}

.container-logo{
    font-family: "Manrope", sans-serif;
    background-color: #a2584f;
}

.container-form{
    background-color: #4f757bff;
}

.form{
    background-color: #4f744fff;
}

.form-buttons{
    background-color: #8f757bff;
}

